<!-- Footer Links -->
<div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase text-center ">Inventive Individual Travels</h5>
            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">

            <!-- Links -->
            <!--h5 class="text-uppercase">Links</h5-->
            <ul class="list-unstyled">
                
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href="./travels.html">My Travels</a>
                </li>
                 <li>
                    <a href="./organisation.html">Organisation</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <!--h5 class="text-uppercase">Links</h5-->
        <ul class="list-unstyled">  
               
                <li>
                    <a href="./blog.html">Blog</a>
                </li>
                <li>
                    <a href="/products.html">Products</a>
                </li>
                <li>
                    <a href="./contact-us.html">Contact us</a>
                </li>
            </ul>

        </div>
        <!--Grid column-->

        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <!--h5 class="text-uppercase">Links</h5-->
      
        <!--Grid column-->
    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> Tatiana Osoblivaia</a>
</div>
<!-- Copyright -->