<!-- Footer Links -->
<div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Inventive Individual Travels</h5>
            <p>Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <!--h5 class="text-uppercase">Links</h5-->

            <ul class="list-unstyled">
                {{#each footer.navItems}}

                <li {{this.customClass}}>
                    <a href="{{this.href}}">{{this.lebel}}</a>
                </li>
                {{/each}}


                <!--li>
                    <a href="#!">Home</a>
                </li>
                <li>
                    <a href="#!">My Travels</a>
                </li>
                <li>
                    <a href="#!">Organisation</a>
                </li>
                <li>
                    <a href="#!">Routes</a>
                </li-->
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <!--h5 class="text-uppercase">Links</h5-->

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Info</a>
                </li>
                <li>
                    <a href="#!">Blog</a>
                </li>
                <li>
                    <a href="#!">PDP</a>
                </li>
                <li>
                    <a href="#!">Contact us</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> I-Travels.com</a>
</div>
<!-- Copyright -->