<nav class="navbar fixed-top navbar-expand-lg navbar-dark unique-color">

    <a class="navbar-brand" href="#">
        <img src="src/images/logo/logo - Copy.jpg" class="d-inline-block img-fluid align-top" alt="mdb logo">

        <!--img src="../../images/logo/logo.jpg" class="d-inline-block img-fluid align-top" alt="mdb logo"-->
            
        <strong class="d-inline-block">Inventive <br> Individual<br>Tours</strong>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto font-weight-bolder">
            {{#each header.navItems}}
            <li class="nav-item {{this.customClass}}">
                <a class="nav-link" href="{{this.href}}">{{this.label}}</a>
            </li>
            {{/each}}
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</nav>
<!---->