.read-more-read-less {
    .hide {
      display: none;
    }
  
    &__title {
      background-color: yellow;
    }
  
    &__content {
      background-color: red;
    }
  
    &__dots,
    &__more {
      display: inline-block;
    }
  
    &__cta {
      background-color: blue;
    }
  }

  